# Intellij
*.iml
.idea

# npm
node_modules

# build
bin/
main.js
*.js.map

# TypeScript
*.d.ts
.tsbuildinfo

# obsidian dev files
data.json

# macOS
.DS_Store

# local developer scripts
deployLocally.js
PLAN.md

